* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

#navbar {
  transition: opacity 0.3s ease, max-height 0.3s ease;
  opacity: 1;
  max-height: 100px;
}

#navbar.hidden {
  opacity: 0;
  max-height: 0;
  height: 0;
  pointer-events: none;
}

/* #module_list {
  transition: max-width 0.3s ease;
  max-width: 150px;
} */

/* #module_list.hidden_module {
  max-width: 0;
  display: none;
} */

#sidebar_menus {
  transition: width 0.3s ease;
}

#sidebar_menus.hidden_sidebar {
  width: 0;
}

::-webkit-scrollbar {
  width: 5px !important;
  border-right: 5px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: gray;
  z-index: 99999999999 !important;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: transparent;
  z-index: 99999999999 !important;
}